html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ffc942;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
