.container {
  background-color: #ffc942;
  
}

.containerInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 74px;
  height: 90vh;
  width: 100%;
}

.bg {
  position: absolute;
  right: 24px;
  bottom: -40px;
  height: 80%;
  width: 50%;
  /* background-color: #0070f3; */
}

.titles{
  font-size: 34px;
}

.subTitle{
  padding: 30px 0 30px 0;
  font-size: 24px;
}


@media (max-width: 600px) {
  .containerInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 24px;
    height: 90vh;
    width: 100%;
    padding-top: 68px;
  }

  .bg {
    position: absolute;
    right: 24px;
    bottom: -40px;
    height: 50%;
    width: 30%;
  }
  .container {
    /* background-color: lightblue; */
  }

  .titles{
    font-size: 14px;
  }

  .subTitle{
    padding: 30px 0 30px 0;
    font-size: 12px;
    font-weight: 500;
  }

  .linkDownload{
    display: flex;
  }
}





